extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Blog Title:
      input#title.form-control(type='text', placeholder='Title of blog' name='title' required='true' value=(undefined===book ? '' : book.title) )
    div.form-group
      label(for='summary') Short Description:
      input#summary.form-control(type='textarea', placeholder='short description' name='summary' value=(undefined===book ? '' : book.summary) required='true')
    div.form-group
      label(for='isbn') Blog Content:
      div
        textarea(cols="150", rows="10", placeholder='blog content' name='isbn' value=(undefined===book ? '' : book.isbn) required='true') 
  
    button.btn.btn-primary(type='submit') Publish it

  if errors 
    ul
      for error in errors
        li!= error.msg
