extends layout

block content
  h1= title
  p Welcome to my website. My name is Alexandra. This is a very basic website to demonstrate my working knowledge with MongoDB , NodeJS and Express.
  hr
  p This blog engine website uses CRUD operations on MongoDB ( Mongoose ).
  p It uses REST Api to get blog data
  hr
 
